@charset "utf-8";

body {
    font-family: '나눔고딕', '맑은 고딕', 돋움, sans-serif;
    font-size: 18px;
    
    color: #505050;
}
h1 {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 38px;
    line-height: 1.5;
}
#div1 {
    text-align: center;
    background-color: whitesmoke;
}
#div1 > #txt1 {
    font-size: 15px;
    text-decoration: underline;
}
#div1 > #txt2 {
    font-size: 15px;
    color: red;
}
a {
    background-color: orangered;
    color: white;
    text-decoration: none;
}
a:hover {
    background-color: maroon;
    text-decoration: line-through;
}
h2 {
    color: #26A9A1;
    text-decoration: underline;
    text-align: center;
}
h3 {
    background-color: #26A9A1;
    color: white;
    text-align: right;
}
#div2 > #txt3, #txt4 {
    text-indent: 50px;
}
ul > li {
    line-height: 1.5;
}
ul > #li1, #li2 {
    background-color: orange;
}
#txt5 {
    font-weight: bold;
    line-height: 2;
}
ol > li {
    line-height: 1.5;
}
ol > li > em {
    font-style: normal;
    font-size: 15px;
    color: red;
}
